body{
    color: black;
    background: wheat;
}
.heading{
    width: 80%;
    font-size: 20px;
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: yellow;
}